Checks: >-
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-const-return-type,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-inconsistent-declaration-parameter-name,
  readability-misleading-indentation,
  readability-redundant-*
WarningsAsErrors: ''
HeaderFilterRegex: 'platform/text/native/.*|apps/jingdu/android/app/src/main/cpp/.*|apps/jingdu/harmony/entry/src/main/cpp/.*'
FormatStyle: file
